@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400');


p {
    margin-top: 15px;
}
.intro {
    font-size: 18.4px;
}
.list-text {
    font-family: 'Catamaran', sans-serif;
}