@import url(../css/fonts.css);
@import url(../css/animation.css);
@import url(../css/img.css);
@import url(../css/mobile.css);

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.cover {
    background-color: black;
    width: 100%;
    height: 100%;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat;
    z-index: 0;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

}

.seconds {
    background-color: black;
    height: 2px;
    width: 600px;
    margin: auto;
    position: relative;
    top: 100px;
}

.bar {
    -webkit-animation-delay: 1s !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, white));
    height: 2px;
    width: 0%;
    margin-top: 350px;
}

.animating {
    -webkit-animation: progress 8s linear;
}

@-webkit-keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
}
