@media screen and (max-width: 480px) , screen and (max-height: 700px){
    .seconds {
        width: 90% !important;
        top: -150px !important;
    }
    .headphones {
        margin-top: 90px;
    }
    .headphone-sq {
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }
    .mb-text {
        margin-top: -160px;
    }
    .glyphpos {
        margin-top: 30px;
        left: 47%;
        position: absolute;
        bottom: 0px;
        font-size: 30px; 
    }
      
}
