@media screen and (max-width: 768px) {
    .seconds {
        max-width: 90% !important;
        
    }
    .navbutton {
        color: #FFF;
        background: transparent;
        margin: 25px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        width: 100%;
        border-radius: 2px;
        display: inline-block;
        text-align: center !important;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #ff4d4d;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        transition: all ease 0.8s;
    }
    .navbutton:hover {
        box-shadow: inset 300px 0 0 0 #ff4d4d !important;
        color: black;
    }
    .mrgnUp {
        margin-top: -50px;
    }
    .jumbomrgn {
        margin-top: 100px;
    }
}
@media screen and (min-height: 770px) {
    .btnmrgn {
        margin-top: -180px;
    }
    #map{
        overflow:hidden !important;
        padding-bottom:56.25% !important;
        position:relative !important;
        height:0 !important;
    }
    #map_container{
        left:0 !important;
        top:0 !important;
        height:100% !important;
        width:100% !important;
        position:absolute !important;
    }
}